body {
 background-color: #000;
 margin-bottom: 80px;
 margin-top: 80px;
}
.col-md-3{
  color:#FFF;
}
.page-header {
  margin-top:0;
}
.panel-body {
  padding-top: 0;
}
.featuredImg {
  margin-bottom: 15px;
}

.col-lg-2 {
  background-color:#FFF;
}

/*.carousel-inner > .item > img{
  margin:auto;
  width: 1000px;
  height:750px;
}*/
